html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background: url("./background.png") center/cover no-repeat;
  overflow: hidden;
  touch-action: manipulation;
}

#sceneImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
  opacity: 1;
  transition: opacity 0.4s ease;
}
